
<div class="conatiner-fluid ">
  <div class="container sidebar border">
    <h4>Team:</h4>
    Dan Joel Schrader<br>
    Jonas Gutsch<br>
    Lan Li<br>
    Lars Meß<br>
    Lukas Göttling<br>
    Paul Lühring<br>
  </div>
  <div class="container middlebar border">
    <h1>Luftqualität-BS.info</h1>
    <hr>
    <p>Auf dieser Webseite können Sie sich über die aktuellen und vergangenen Luftdaten in Braunschweig informieren.   </p> 
  </div>
  <div class="container sidebar border">
   <h4>Betreuer:</h4>
   Linda Fliss<br>
   Robert Hartung<br> 
  </div>
</div>