<div class="center">
    
    <img src="assets/Diagramm_partikel.png" height="110%" width="110%" alt="Partikeldiagramm">
    


    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option2" autocomplete="on" checked> Partikel 25
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option3" autocomplete="off"> Partikel 100
        </label>
        <label class="btn btn-secondary">
                <input type="radio" name="options" id="option3" autocomplete="off"> Temperatur
        </label>
              <label class="btn btn-secondary">
             <input type="radio" name="options" id="option3" autocomplete="off"> Luftdruck
        </label>
             <label class="btn btn-secondary">
             <input type="radio" name="options" id="option3" autocomplete="off"> Luftfeuchtigkeit
         </label>
      </div>
      <p></p>


    <div class = "boarder">
        
        <div class="space">
            <p></p >
        <div class="fallbackDatePicker">
            <span>
                <label for="day">Tag:</label>
                <select id="day" name="day">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option selected>5</option>
                    <option>6</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>

                </select>
            </span>
            <span>
                <label for="month">Monat:</label>
                <select id="month" name="month">
                    <option>Januar</option>
                    <option>Februar</option>
                    <option>März</option>
                    <option selected>April</option>
                    <option>Mai</option>
                    <option>Juni</option>
                    <option>Juli</option>
                    <option>August</option>
                    <option>September</option>
                    <option>October</option>
                    <option>November</option>
                    <option>December</option>
                </select>
            </span>
            <span>
                <label for="year">Jahr:</label>
                <select id="year" name="year">
                    <option selected>2018</option>
                </select>
            </span>
            <span>
                    <label for="station">Messstation:</label>
                    <select id="station" name="station">
                            <option selected>Messtation 1</option>
                            <option >Messtation 2</option>
                            <option >Messtation 3</option>
                            <option >Messtation 4</option>
                            <option >Messtation 5</option>
                        
                    </select>
                    <input type="checkbox" data-toggle="toggle">ON/OFF
                </span>
        </div>
    </div>
<p></p>
    <div class="space">
        <p></p>
        <div class="fallbackDatePicker">
            
            <span>
                <label for="day">Tag:</label>
                <select id="day" name="day">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option  selected>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>

                </select>
            </span>
            <span >
                <label for="month">Monat:</label>
                <select id="month" name="month">
                    <option>Januar</option>
                    <option selected>Februar</option>
                    <option>März</option>
                    <option>April</option>
                    <option>Mai</option>
                    <option>Juni</option>
                    <option>Juli</option>
                    <option>August</option>
                    <option>September</option>
                    <option>October</option>
                    <option>November</option>
                    <option>December</option>
                </select>
            </span>
            <span>
                <label for="year">Jahr:</label>
                <select id="year" name="year">
                    <option selected>2018</option>
                </select>
            </span>
            <span>
                    <label for="station">Messstation:</label>
                    <select id="station" name="station">
                            <option >Messtation 1</option>
                            <option >Messtation 2</option>
                            <option >Messtation 3</option>
                            <option selected>Messtation 4</option>
                            <option >Messtation 5</option>
                        
                    </select>
                </span>
               
                        
                          <input type="checkbox" data-toggle="toggle">ON/OFF
                          
                       
                        
        </div>
    </div>
    

    <div class="diagrammAuswahl">
        <p>
            <br>
            <input type="radio" name="opt[]" value="layer1" (click)="check('layer1');" ngModel> Temperatur
            <input type="radio" name="opt[]" value="layer2" (click)="check('layer2');" ngModel> Luftdruck
            <input type="radio" name="opt[]" value="layer3" (click)="check('layer3');" ngModel> Luftfeuchtigkeit
            <input type="radio" name="opt[]" value="layer4" checked="checked" (click)="check('layer4');" ngModel> Partikel
            <input type="radio" name="opt[]" value="layer0" (click)="check('layer0');" ngModel> default
        </p>
    </div>
</div>